In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd
import numpy as np

In [3]:
tweets = pd.read_pickle('./proccessed_tweets.pkl')
tweets.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

In [26]:
import spacy
from spacy import displacy
import en_core_web_md

nlp = en_core_web_md.load()

In [35]:
ner = {
    "text": [],
    "label": [],
}

def create_ner_matrix(tweet):
    doc = nlp(tweet)
    for ent in doc.ents:
        ner['text'].append(ent.text)
        ner['label'].append(ent.label_)

In [36]:
tweets['tweet'].apply(lambda x: create_ner_matrix(x))

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
49129    None
49130    None
49131    None
49132    None
49133    None
49134    None
49135    None
49136    None
49137    None
49138    None
49139    None
49140    None
49141    None
49142    None
49143    None
49144    None
49145    None
49146    None
49147    None
49148    None
49149    None
49150    None
49151    None
49152    None
49153    None
49154    None
49155    None
49156    None
49157    None
49158    None
Name: tweet, Length: 49159, dtype: object

In [37]:
ner_df = pd.DataFrame.from_dict(ner)
ner_df.head()

                   text label
0                   pdx   GPE
1    factsguide society   ORG
2              tomorrow  DATE
3  the next school year  DATE
4              the year  DATE

In [38]:
ner_df.text.value_counts().head(20)

today         1620
friday         620
tomorrow       620
first          563
one            542
summer         539
sunday         479
orlando        456
tonight        448
morning        394
saturday       298
day            270
weekend        243
monday         239
father day     230
america        214
days           200
night          194
two            181
london         177
Name: text, dtype: int64

In [40]:
ner_df.loc[ner_df['label'] == 'PERSON'].text.value_counts().head(20)

bing bong            107
obama                 88
hillary               72
hu                    63
christina grimmie     34
orlando               34
jesus                 30
lebron                29
donald                26
carl paladino         23
clinton               23
god                   22
bernie                21
donald trump          21
jo cox                20
michelle obama        20
shi                   19
ali                   19
anton yelchin         18
karen iqbal galib     17
Name: text, dtype: int64

In [41]:
ner_df.loc[ner_df['label'] == 'ORG'].text.value_counts().head(20)

orlando     78
gop         75
nba         58
disney      45
netflix     44
isis        43
stas        39
islam       39
nyc         35
tbt         30
cnn         30
amazon      28
cavs        27
tgif ff     26
ios         26
eu          25
omg         22
congress    21
obama       20
fbi         20
Name: text, dtype: int64

In [42]:
import nltk

In [54]:
ner_nltk = {
    "text": [],
    "label": [],
}

In [58]:
def create_ner_nltk_matrix(tweet):
    for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(tweet.title()))):
         if hasattr(chunk, 'label'):
            ner_nltk['text'].append(' '.join(c[0] for c in chunk))
            ner_nltk['label'].append(chunk.label())

In [59]:
tweets['tweet'].apply(lambda x: create_ner_nltk_matrix(x))

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
49129    None
49130    None
49131    None
49132    None
49133    None
49134    None
49135    None
49136    None
49137    None
49138    None
49139    None
49140    None
49141    None
49142    None
49143    None
49144    None
49145    None
49146    None
49147    None
49148    None
49149    None
49150    None
49151    None
49152    None
49153    None
49154    None
49155    None
49156    None
49157    None
49158    None
Name: tweet, Length: 49159, dtype: object

In [60]:
ner_nltk_df = pd.DataFrame.from_dict(ner_nltk)
ner_nltk_df.head()

               text         label
0            Father        PERSON
1              Kids  ORGANIZATION
2       Lyft Credit        PERSON
3  Offer Wheelchair        PERSON
4               Pdx           GPE

In [65]:
ner_nltk_df.text.value_counts().head(20)

Happy                1167
New                   554
Model                 527
Ur                    525
Father                517
Good                  440
Love                  381
Will                  362
Great                 284
Us                    277
Bull Up               256
Orlando               250
Life                  215
Sad                   202
Ready                 202
Forward               177
Have                  175
Gorilla Simulator     167
Trump                 152
Got                   152
Name: text, dtype: int64

In [63]:
ner_nltk_df.loc[ner_nltk_df['label'] == 'ORGANIZATION'].text.value_counts().head(20)

Well Deletetweets                         129
Development Organizations Work Mindset    100
Vicinity Of Their                          94
Fathers                                    85
Vast Expanse Of Mountains                  78
House                                      73
Lot                                        71
Work Conference                            69
Happiness                                  65
Same                                       59
City Each Side                             56
All                                        55
Melancholy Melancholymusic                 49
Love                                       46
Weekend                                    39
Best                                       38
Into                                       37
Hate                                       37
No                                         36
Get Get Enjoy Music                        35
Name: text, dtype: int64

In [64]:
ner_nltk_df.loc[ner_nltk_df['label'] == 'PERSON'].text.value_counts().head(20)

Happy                       1046
Model                        525
Father                       503
Will                         359
Good                         325
Love                         264
Bull Up                      256
Sad                          179
Forward                      174
Have                         169
Gorilla Simulator            167
Found Way How                133
Delete Old                   133
Ready                        132
Aww                          122
Trump                        121
Attack Bull                  121
Help                         117
Good Bing Bong Bing Bong     114
Hey                          110
Name: text, dtype: int64

nltk справляется с задачей ner значительно хуже, поскольку имеет больше неправильных распознаваний. Плюс, регистрозависимость не очень удобна.